@{
    Layout = null;
}

<DocType html>
<html lang="en">
   
    <body>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page-specific content will appear here -->
            @RenderBody()
        </div>

    </div>
    </body>
</html>
