@using BankingApp.Models.DTOs.User
@using BankingApp.Models.Enum

@{
    Layout = null;
}

@model CreateUserRequestModel

<!DOCTYPE html>
<html lang="en">


<head>
    <title>E-Bankin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body class="bg-white">
    @if (!string.IsNullOrEmpty(ViewBag.Alert as string))
    {
        <div id="responseAlert" class="alert alert-@ViewBag.AlertType text-center" role="alert">
            @ViewBag.Alert
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                setTimeout(() => {
                    const alert = document.getElementById('responseAlert');
                    if (alert) {
                        alert.style.transition = "opacity 0.6s ease";
                        alert.style.opacity = 0;
                        setTimeout(() => alert.remove(), 600);
                    }
                }, 4000);
            });
        </script>
    }
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!--start login contant-->
            <div class="container mt-4">
            </div>
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="register p-5">
                                        <h1 class="mb-2">E-Banking</h1>
                                        <p>Welcome, Please create your account.</p>
                                        <form asp-action="RegisterCustomer" asp-controller="User" class="mt-2 mt-sm-5">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" asp-for="FirstName" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" asp-for="LastName" class="form-control" required/>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Email*</label>
                                                        <input type="email" asp-for="Email" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" asp-for="Address" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">PhoneNumber</label>
                                                        <input type="tel" asp-for="PhoneNumber" class="form-control" required/>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Date of Birth</label>
                                                        <input type="date" asp-for="DateOfBirth" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Gender</label>
                                                        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" class="form-control" required>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Password</label>
                                                        <input type="password" asp-for="PasswordHash" class="form-control" required/>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Confirm Password</label>
                                                        <input type="password" id="password-confirm" asp-for="ConfirmPassword" class="form-control" required/>
                                                    </div>
                                                </div>

                                                <div class="col-12 mb-3">
                                                    <label class="form-label fw-semibold">Banks</label>
                                                    <select asp-for="BankId" asp-items="ViewBag.Banks"
                                                            id="bank-type"
                                                            class="form-select select2"
                                                            required>
                                                    </select>
                                                </div>

                                                <div class="col-12 mb-3">
                                                    <label class="form-label fw-semibold">Account Type</label>
                                                    <select asp-for="AccountType" asp-items="@Html.GetEnumSelectList(typeof(AccountType))"
                                                            class="form-select select2"
                                                            required>
                                                    </select>
                                                </div>


                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            I accept terms & policy
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button type="submit" class="btn btn-primary text-uppercase">Sign Up</button>
                                                </div>
                                                <div class="col-12  mt-3">
                                                    <p>Already have an account?<a asp-controller="Auth" asp-action="Login"> Sign In</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->
    <!-- plugins -->
    <script src="assets/js/vendors.js"></script>

    <!-- custom app -->
    <script src="assets/js/app.js"></script>

    <script>
        $('.select2').select2({
        placeholder: "Select an option",
        allowClear: true,
        width: '100%'
        });
    </script>


    <style>
        .register {
            max-height: 90vh;
            overflow-y: auto;
        }

    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initCustomMultiselect("#bank-type");
        });
    </script>

</body>

</html>